* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	color: white;
	/* outline: 1px solid lime; */
}

html {
	font-size: 62.5%;
}
body {
	background: var(--white-color);
}
a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}
ol {
	list-style-type: none;
}

.padding-inline {
	padding-inline: 9%;
}

.bg-primary {
	background: #1f242d;
}

.bg-secondary {
	background: #323946;
}

.borda-superior {
	position: relative;
}

.borda-superior::before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 70%;
	height: 1px;
	background: linear-gradient(to right, transparent, #ffffff, transparent);
}

/* Responsividade */
@media (max-width: 1200px) {
	html {
		font-size: 55%;
	}
}

@media (max-width: 992px) {
	section {
		padding: 10rem 4% 2rem !important;
	}
}
