@import "./style-global.css";
@import "./variables.css";

@import "./components/navbar.css";
@import "./components/header.css";
@import "./components/about.css";
@import "./components/projects.css";
@import "./components/skills.css";
@import "./components/contact.css";
@import "./components/footer.css";
