#about {
	display: flex;
	align-items: center;
	gap: 5rem;
	width: 100%;
	min-height: 100vh;
	padding: 10rem 9% 2rem;
}

.about-img .img-box {
	position: relative;
	width: 32vw;
	height: 32vw;
	border: 2px solid var(--main-color);
	border-radius: 10px;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.about-img .img-box .img-item {
	position: relative;
	width: 100%;
	height: 100%;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.about-img .img-box .img-item img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 10px;
}
.about-info {
	text-align: center;
}
.about-info h2 {
	font-size: clamp(3.5rem, 10vw, 5.5rem);
}
.subtitulo .verde {
	color: var(--main-color);
}
.about-info p {
	font-size: 1.6rem;
	margin: 1rem 0 2.5rem;
	text-align: justify;
}

/* .about-info .btn-sci {
	display: flex;
	align-items: center;
	justify-content: center;
} */

.about-info .btn {
	display: block;
	margin-top: 10px;
	padding: 1rem 3rem;
	border: 0.2rem solid var(--main-color);
	border-radius: 4rem;
	font-size: 1.6rem;
	color: var(--white-color);
	font-weight: 500;
	transition: 0.5s;
}

.about-info .btn:hover {
	transform: scale(1.1);
	color: var(--main-color);
	box-shadow: 0 0 1rem var(--main-color);
}

.about-techs {
	display: flex;
	gap: 20px;
	justify-content: center;
	flex-wrap: wrap;
}
.about-techs span {
	display: inline-block;
	border: 1px solid var(--main-color);
	padding: 5px;
	color: var(--white-color);
	border-radius: 10px;
	transition: 0.5s ease;
	font-size: 1.5rem;
}
.about-techs span:hover {
	transform: scale(1.1);
	box-shadow: 0 0 30px var(--main-color);
	color: var(--main-color);
}

/* Responsividade */
@media (max-width: 955px) {
	#about {
		flex-direction: column-reverse;
		justify-content: center;
		gap: 2rem;
	}
	.about-img .img-box {
		width: 30rem;
		height: 30rem;
	}
	.about-img {
		order: 1;
	}
}
