.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: var(--bg-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 100;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
	padding-inline: 9%;
}

.logo {
	font-size: 2rem;
	font-weight: 700;
	color: var(--white-color);
	text-decoration: none;
}
.logo::after {
	content: ".";
	color: var(--main-color);
}

.menu {
	display: flex;
	list-style: none;
}

.menu a {
	font-size: 2rem;
	color: var(--white-color);
	margin-left: 3.5rem;
	text-decoration: none;
	transition: 0.3s;
}

.menu a:hover,
.menu a.active {
	color: var(--main-color);
}

#menu-icon {
	font-size: 3.6rem;
	color: var(--white-color);
	cursor: pointer;
	display: none;
}

@media (max-width: 992px) {
	.navbar {
		padding: 5%;
	}
}

@media (max-width: 768px) {
	#menu-icon {
		display: block;
	}

	.menu {
		position: fixed;
		top: 80px;
		right: -100%;
		width: 260px;
		height: calc(100vh - 80px);
		background: var(--bg-color);
		flex-direction: column;
		padding: 4rem 2rem;
		transition: 0.4s ease;
	}

	.menu.active {
		right: 0;
	}

	.menu li {
		margin-bottom: 2.5rem;
	}

	.menu a {
		font-size: 2rem;
		margin: 0;
	}
}
